.color-box{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 2px;
}
.after{
 background-color: red;
}
.before{
    background-color: blue;
}
.append{
    background-color: green;
}
.prepend{
    background-color: cyan;
}
.attached{
    background-color: gold;
}

p {
    margin: 4px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
  }
.blue {
    color: blue;
  }
.highlight {
    background: yellow;
  }