#wrap{
    width: 80%;
    margin: 0 auto;
}
#button-div{
    width: 20%;
    text-align: center;
    margin: 0 auto;
}
button{
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}

#display-image{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    height:800px;
}
#display-image:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}
#catImage{
    width: 1000px;
    height: 600px;
    margin-left: 20%;
    margin-top: 5%;
}
#heading{
    text-align: center;
}
body{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(6,75,143,1) 35%, rgba(0,212,255,1) 100%);
    color:white;
}